ion-grid {
    margin: 2% 0px;
}

#gridIcon {
    margin: 3% 0px;
}

#gridIcon ion-icon {
    font-size: 20px;
    margin-left: 1%;
}

.icon ion-icon {
    font-size: 40px;
}

ion-col p {
    align-items: center !important;
    justify-content: center !important;
}

.favIcon {
    color: lightcoral;
    margin: 0px 40%;
}